{% extends './layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
  <div class="d-flex gap-3 align-items-center">
    <h1 class="new_question">New question</h1>
  </div>
{% endblock %}

{% block content %}
<div class="col-md-10 sm-12">
  <form method="post" action="{% url "ask" %}" continue="{% url "index" %}">
    {% bootstrap_form form %}
    {% csrf_token %}
    <button class="mb-2 mt-3 btn btn-outline-success" type="submit">
      ASK!
    </button>
  </form>
</div>
{% endblock %}