{% extends './layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
  <div class="d-flex gap-3 align-items-center">
    <h1>Settings: {{ user.username }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="col-md-10 sm-12">
    {% comment %} <div class="row">
      <div class="mt-3 mb-3 d-flex align-items-center">
        <div class="col-1 ps-2">
          <label for="label_login" class="form-label">Login</label>
        </div>
        <div class="col-5">  
          <input type="text" class="form-control" id="login_input" value="malkhasyan_yury">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mt-3 mb-3 d-flex align-items-center">
        <div class="col-1 ps-2">
          <label for="label_email" class="form-label">Email</label>
        </div>
        <div class="col-5">  
          <input type="email" class="form-control" id="email_input" value="malkhasyan_yury@example.com">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mt-3 mb-3 d-flex align-items-center">
        <div class="col-1 ps-2">
          <label for="label_nickname" class="form-label">NickName</label>
        </div>
        <div class="col-5">  
          <input type="text" class="form-control" id="nickname_input" value="myuv">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mt-3 mb-3 d-flex align-items-start">
        <div class="col-1 ps-2">
          <label for="label_nickname" class="form-label">Upload avatar</label>
        </div>
        <div class="col-5 d-flex flex-column gap-3">
          <div class="border col-5">
            <img src="{% static "img/image.jpg" %}" width="200px" height="200px" alt="Oops!" class="img-thumbnail">
          </div>
          <input class="form-control" type="file" id="formFile">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mt-2 d-flex align-items-center">
        <div class="col-1"></div>
        <button class="btn btn-outline-success mt-1 col-1" type="submit">Save</button>
      </div>
    </div> {% endcomment %}








    <form method="post" action="{% url "settings" %}" enctype="multipart/form-data">
      {% bootstrap_form userform %}
      {% csrf_token %}
      {% bootstrap_form profileform %}
      {% csrf_token %}
      <div class="row">
        <div class="mt-2 d-flex align-items-center">
          <div class="col-1"></div>
          <button class="btn btn-outline-success mt-1 col-1" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>
{% endblock %}