{% extends './layouts/base.html' %}
{% load static %}
{% block title %}
{% load django_bootstrap5 %}
  <div class="d-flex gap-3 align-items-center">
    <h1>Регистрация</h1>
  </div>
{% endblock %}

{% block content %}
<div class="col-md-10 sm-12">
  <form method="post" action="{% url "signup" %}" continue="{% url "index" %}" enctype="multipart/form-data">
    {% bootstrap_form form %}
    {% csrf_token %}
    <div class="row">
      <div class="mt-2 d-flex align-items-center">
        <div class="col-1"></div>
        <button class="btn btn-outline-success mt-1 col-3" type="submit">Зарегистрироваться!</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}