{% load static %}
{% for answer in answers %}
<article class="card mb-3 w-100 border-top mt-3">    
  <div class="row g-0">
    <div class="col-md-3 p-2">
      <div class="border w-100 mb-3" style="height: 160px;">
        <img src="{% static 'img/img.jpg'%}" class="img-fluid rounded-start" alt="Oops!">
      </div>
    </div>

    <div class="col-md-9">
      <div class="card-body">
        <p class="card-text">{{ answer.text }}</p>
      </div>
      {% if user == item.user %}
      {% comment %} <form method="POST" action="{% url "correctanswer" %}"> {% endcomment %}
      <div class="form-check mt-5" name="correcto">
        <form method="post" action="{% url "correctanswer" item.id %}">
          <button type="submit" class="btn btn-success" id="correctbutton">Correct!</button>
        </form>
      </div>
      {% endif %}
    </div>      
  </div>
</article>
{% endfor %}
<script src="{% static "js/correctanswer.js" %}" type="text/javascript"></script>