{% load static %}
<article class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-md-3 p-2">
      <div class="border w-100 mb-3" style="height: 100px;">
        <img src="{% static 'img/loopa.png' %}" class="img-fluid rounded-start h-100" alt="Oops!">
      </div>

      <div class="input-group flex-nowrap">
        <input type="number" value="5" class="form-control">
      </div>
    </div>

    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url "question" item.id %}">{{ item.title }}</a></h5>
        <p class="card-text">{{ item.text }}</p>
        <div class="row">
          <a href="{% url "question" item.id %}" class="col-4">Answer ({{ answersCount }})</a>
          <div class="col-8">
            <span>Tags</span>
            {% for tag in item.tags.all %}
              <a href="{% url "tag" tag %}">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
